# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        mkdir ~/test ; cd test ; sudo apt update -y ; sudo apt install python3 python3-pip git curl -y ; git clone https://github.com/EtoNeYaProject/MK_XRAYchecker ; cd MK_XRAYchecker ; pip3 install -r requirements.txt ; wget https://raw.githubusercontent.com/amfrgno877-web/MyFirstProgram/refs/heads/main/bot.json ~/test/MK_XRAYchecker/bot.js ; clear ; python bot.py ; python bot.py
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Test with pytest
      run: |
        cd  ~/test/MK_XRAYchecker ; python bot.py
